* { box-sizing: border-box; padding: 0; margin: 0; font-family: Roboto; font-size: 16px;}

/* Layout */
#root { min-height: 100vh; background: #b4b7ba;}

/* CorouselComp */
/* Overriding */
.sliderAnimation___300FY { height: 100%; width: 100%; }
.carousel__back-button, .carousel__next-button { height: 15rem; width: 3rem; background: transparent; box-shadow: none; border: 0; color: #f8f8f8; background: rgb(0 0 0 / 30%); }
.carousel__back-button, .carousel__next-button span { font-weight: 900; font-size: 2rem; }
.carousel__back-button { position: absolute; top: 0; }
.carousel__next-button { position: absolute; top: 0; right: 0;}

/* New Styles */
.corouselSlider { height: 15rem; }
.corouselSlides img { background-size: cover; background-position: center; width: 100%;}
.imageDescription {  text-align: center; font-size: 1.9rem; letter-spacing: 4px; color: #f8f8f8; position: absolute; top: 6.5rem; left: 30%; width: 40%; z-index: 1; }

/* Video Streaming */
.videoStreaming { position: fixed; }
.videoStreaming.bottomRight {  bottom: 1rem; right: 1rem; }
.slideOverlay { position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: rgba(0,0,0,0.2); height: 15rem; }